<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>About</title>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>
</head>

<body>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <!-- review later -->
            <a class="navbar-brand" href="#">
                <img src="PicmeBrand.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                Author
            </a>
            <a class="navbar-brand" href="#">
                <button type='button' class='btn btn-warning btn-md'><span class='glyphicon glyphicon-print' aria-hidden='true'></span></button>
                Print
            </a> 
             
             <!-- review later --> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/maps">Make Well Maps
                    <span class="sr-only"></span>
                    </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/filter">Data Filter 
                    <span class="sr-only"></span>
                    </a>
                    </li>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="/calculate">Calculate Properties
                    <span class="sr-only"></span>
                    </li>
                    </a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="/contour">Make a Contour Map
                    <span class="sr-only"></span>
                    </li>
                    </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About and References
                        <span class="sr-only"></span>
                        </li>
                    </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/makePrediction">Predict Oil/Gas/Water
                        <span class="sr-only"></span>
                        </li>
                    </a>
                    </li>
                    </ul>
            </div>
            
        </nav>

        <div class="about-section">
        </div>
        <h2 style="text-align:center">About the Author, References and Inspiration</h2>
        <p style="text-align:center">We all hope that we can save this planet but we will need fossil fuels for some time</p>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- <div class="col-md-4"> -->
                <div class="card">
                    <img src="../assets/Images/MeSmall.jpg" alt="Ryan" style="width:30% ">
                    <div class="container">
                        <h2>Orlando Ortega</h2>
                        <p>I was born in Venezuela, a beautiful country with the largest oil reserves in the world.
                        I have a BSc in Geological Engineering from Universidad Central de Venezuela and worked for 5 yeear in the Venezuelan National Oil Company (PDVSA).
                        Then, I came to the US and obtained an MSc and a PhD in Geological Sciences from The University of Texas at Austin. My research was on the application of 
                        fractals to natural geologic objects and with the help of my tutors and sponsors I published cited papers in Geological Sciences journals.
                        Shell hired me as an Exploration Geologist and Structural Geologist Specialist. For 18 years Shell gave me the opportunity to work in projects 
                            from several countries of the Americas, from Canada to Argentina. It was a great ride!</p>
                        Data management, data analytics and visualizations are central to the work of geologists and geophysicists and we need a support structure to 
                            help us find hydrocarbons and minerals needed for our civilization. I am interested in learning how to extract and efficiently use data 
                            to continue finding energy sources but also to reduce carbon emissions and capture and storage gases derived from fossil fuels use.
                        This course has given me a great introduction to the Data Analysis and Visualization world which I hope to use in the rest of my career. 
                        I volunteer raisng funds for my University back in my original home country.</p>
                        <h6>https://www.linkedin.com/in/oj-ortega<h6> 
                        <h6>ortegaorlando2@gmail.com</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <div class="col-md-4"> -->
                <div class="card">
                    <br>
                    <img src="../assets/Images/TableauVolcano.png" alt="volcan" style="width:50%">
                    <div class="container">
                        <br>
                        <h2>Inspiration and References</h2>
                        <p>https://texas-accidents-smu.herokuapp.com/</p>
                        <p>https://econojournal.com.ar/2020/01/vaca-muerta-no-va-a-brillar-si-no-ponemos-en-caja-el-convencional/</p>
                        <p>https://public.tableau.com/profile/allan.walker#!/vizhome/MountStHelens3D/MtStHelens</p>
                        <p>https://www.freecodecamp.org/news/how-to-embed-interactive-python-visualizations-on-your-website-with-python-and-matplotlib/</p>
                        <p>https://alex.miller.im/posts/contour-plots-in-python-matplotlib-x-y-z/</p>
                        <p>http://hidrocarburos.energianeuquen.gov.ar/</p>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>